---
import AccesoriesSection from '../components/AccesoriesSection.astro';
import SolarRoofSection from '../components/SolarRoofSection.astro';
import SolarSection from '../components/SolarSection.astro';
import PowerwallSection from '../components/PowerwallSection.astro';
import ExperienceSection from '../components/ExperienceSection.astro';
import ModelXSection from '../components/ModelXSection.astro';
import ModelSSection from '../components/ModelSSection.astro';
import ChargeSection from '../components/ChargeSection.astro';
import HeroSection from '../components/HeroSection.astro';
import LandingHeader from '../components/LandingHeader.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout title="Electric Cars, Solar & Clean Energy | Tesla">

	<LandingHeader />

	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto">

		<div class="snap-center">
			<HeroSection />
		</div>
		<div class="snap-center">
			<ChargeSection />
		</div>
		<div class="snap-center">
			<ModelXSection />
		</div>
		<div class="snap-center">
			<ModelSSection />
		</div>
		<div class="snap-center">
			<ExperienceSection />
		</div>
		<div class="snap-center">
			<SolarSection />
		</div>
		<div class="snap-center">
			<SolarRoofSection />
		</div>
		<div class="snap-center">
			<PowerwallSection />
		</div>
		<div class="snap-center">
			<AccesoriesSection />
		</div>
	</main>
</Layout>


